stranded/.vscode
stranded/obj
stranded/Packages
stranded/Library
stranded/Temp
stranded/ProjectSettings
stranded/Logs
stranded/UserSettings
stranded/Assets/PolygonNature
stranded/Assets/TerrainSampleAssets
stranded/Assets/Synty
stranded/Assets/ModularFirstPersonController